@model IEnumerable<TP02SWII.Models.Container>

@{
    ViewData["Title"] = "Containers";
}

<table class="table" style="margin-top: 30px" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var iten in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => iten.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => iten.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => iten.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => iten.BL.BLId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@iten.ContainerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@iten.ContainerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@iten.ContainerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a class="btn btn-success" asp-action="Create">Create</a>